@keyframes girar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em 0.1em 1em;
  background-color: #070707;
}

.navbar img {
  height: 3em;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.item {
  margin: 1em;
}

.item a {
  color: #fff;
  text-decoration: none;
  transition: 0.25s color;
}

.item a:hover {
  color: #fb3;
}
